In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver import Keys, ActionChains
import time
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
applied_jobs1=pd.read_csv(r"C:\Users\thoma\Desktop\scrapped_data\Applied_jobs\applied_jobs.csv")
applied_jobs2=pd.read_csv(r"C:\Users\thoma\Desktop\scrapped_data\Applied_jobs\applied_jobs2.csv")
applied_jobs3=pd.read_csv(r"C:\Users\thoma\Desktop\scrapped_data\Applied_jobs\applied_jobs3.csv")
applied_jobs1.head()

   Unnamed: 0                                 applyied_job_links
0           0  https://www.linkedin.com/jobs/search/?currentJ...
1           1  https://www.linkedin.com/jobs/search/?currentJ...
2           2  https://www.linkedin.com/jobs/search/?currentJ...
3           3  https://www.linkedin.com/jobs/search/?currentJ...
4           4  https://www.linkedin.com/jobs/search/?currentJ...

In [3]:
applied_jobs_list=pd.concat([applied_jobs1.iloc[:,-1],applied_jobs2.iloc[:,-1],applied_jobs3.iloc[:,-1]],axis=0)

In [4]:
applied_jobs_list=list(set(applied_jobs_list))

In [19]:
driver=webdriver.Chrome()

In [20]:
driver.get("https://in.linkedin.com")

In [4]:
email="thomasantony14@gmail.com"
password="##"
phone="###"

In [22]:
email=driver.find_element(By.XPATH,"""/html/body/main/section[1]/div/div/form/div[1]/div[1]/div/div/input""").send_keys(email)
password=driver.find_element(By.XPATH,"""/html/body/main/section[1]/div/div/form/div[1]/div[2]/div/div/input""").send_keys(password)
driver.find_element(By.XPATH,"""/html/body/main/section[1]/div/div/form/div[2]/button""").click()
time.sleep(5)

In [23]:
time.sleep(5)
driver.get(applied_jobs_list[0])

In [24]:
job_title=driver.find_element(By.CLASS_NAME,"t-24").text
job_title

'Data Analyst'

In [25]:
headline=driver.find_element(By.XPATH,"""/html/body/div[5]/div[3]/div[4]/div/div/main/div/div[2]/div[2]/div/div[2]/div/div[1]/div/div[1]/div/div[1]/div[1]/div[2]/div""").text
headline

'SoStronk · Bengaluru, Karnataka, India · 2 days ago'

In [26]:
company,state,country,posted_days_ago,no_of_applicants=headline.replace("·",",").split(",")
company,state,country,posted_days_ago,no_of_applicants

('SoStronk ', ' Bengaluru', ' Karnataka', ' India ', ' 2 days ago')

In [29]:
job_description=driver.find_element(By.ID,"job-details").text
job_description

"About the job\nAbout SoStronk\nAt SoStronk, we are a dynamic team of 35+ gamers, storytellers, engineers, designers, and innovators, revolutionizing the gaming and esports sector. We have built market-leading platforms for over 5 years, and now, with our latest real money gaming mobile app - SoStronk, we're aiming for explosive growth. Backed by prominent investors like Dream11 and Nodwin Gaming, we are on a journey to create a ground-breaking social gaming platform.\n\nWho We're Looking For\nWe’re on the lookout for a passionate and experienced Data Analyst, who is looking for a challenging role and delivery value based on their years of experience in the field. Your role will involve harnessing the power of data to inform decision-making across our product, operations, and finance teams, enabling us to achieve our ambitious objectives. If you are someone who loves data, enjoys working iteratively, and knows when to dream big and disrupt, we would like to hear from you.\n\nResponsibilities\nIn this role, you will be expected to\nTechnical Responsibilities\nDevelop and manage interactive dashboards and reports in Looker Studio.\nWrite, optimize, and execute complex SQL queries/data models.\nMaintain and enhance our data pipelines in Google Cloud Platform (GCP) (i.e BigQuery).\nEnsure data integrity by validating and testing data.\nLeverage Python for data manipulation and automation tasks.\n\nStrategic Responsibilities\nClosely support Founders, Product team and other teams with both ad hoc and planned analyses.\nTo leverage data and help strategize/recommend and back the product roadmap to ensure scale goals are met.\nUnderstand and implement data flows to connect operational systems, data for analytics, and BI systems.\nMonitor and drive key performance indicators (KPIs).\nCollaborate closely with the development team to ensure correct data instrumentation. \nSuccessful performance in this role will be marked by the quality of insights derived from data, the effectiveness of data visualization, and the positive impact on a company's strategic decisions.\n\nQualifications\n4-8 years of experience as a Data Engineer or Data Analyst or Sr. Data Analyst role.\nStrong SQL skills (Experience with writing optimized SQL / Window functions / Partitioning).\nExperience with Google Cloud Platform (GCP), specifically BigQuery.\nExperience with data integration and analytics tools like Amplitude / Mixpanel / Google Analytics / Clevertap etc.\nExperience with BI, data visualization and reporting tools like Google Looker Studio / Power BI / Tableau.\nExcellent communication and presentation skills.\nPreferred proficiency with Python programming language.\nPreferred experience in the Esports/Online & Mobile Gaming industry.\n\nTeam Interaction\nIn this role, you will be working directly with our founding team, product, finance, and operations teams, and will collaborate closely with our development team during sprints.\n\nWhat You'll Get\nAt SoStronk, you'll be part of a team that values collaboration, creativity, and personal growth. We offer competitive compensation, a comprehensive benefits package, and opportunities for professional development. You'll also enjoy a vibrant work culture that encourages innovation and rewards hard work.\n\nJoin us today and let's shape the future of gaming together!"

In [ ]:
headline=[]
job_title=[]
job_description=[]
url=[]

In [33]:
headline

['SoStronk · Bengaluru, Karnataka, India · 2 days ago',
 'Aryng · Bengaluru, Karnataka, India · 2 weeks ago · Over 100 applicants',
 'SWASTIK PLACEMENT AGENCY · Ahmedabad, Gujarat, India · 4 days ago · Over 100 applicants']

In [39]:
for i in applied_jobs_list[3:]:
    driver.get(i)
    wait = WebDriverWait(driver, 10)
    time.sleep(10)
    try:
        job_title.append(driver.find_element(By.CLASS_NAME,"t-24").text)
        headline.append(driver.find_element(By.CLASS_NAME,"job-details-jobs-unified-top-card__primary-description-container").text)
        job_description.append(driver.find_element(By.ID,"job-details").text)
        url.append(driver.current_url)
        print(driver.current_url==i)  
    except:
        continue

True
True
True
True
True
True
True
True
True
True

In [42]:
job_title.pop()

'Data Analyst'

In [41]:
len(headline),len(job_title),len(job_description),len(url)

(17, 18, 17, 17)

In [43]:
df=pd.DataFrame({"headline":headline,"job_title":job_title,"job_description":job_description,"url":url})

In [45]:
df.to_csv(r"C:\Users\thoma\Desktop\applied_jobs.csv",header=True,index=False)

In [9]:
import pandas as pd
df=pd.read_csv(r"C:\Users\thoma\Desktop\applied_jobs.csv")
df.head()

,headline,job_title,job_description,url
0,"SoStronk · Bengaluru, Karnataka, India · 2 day...",Data Analyst,"About the job\nAbout SoStronk\nAt SoStronk, we...",https://www.linkedin.com/jobs/search/?currentJ...
1,"Aryng · Bengaluru, Karnataka, India · 2 weeks ...",Data Scientist Analyst,About the job\nAbout Aryng :\n\nAryng is a Dat...,https://www.linkedin.com/jobs/search/?currentJ...
2,"SWASTIK PLACEMENT AGENCY · Ahmedabad, Gujarat,...",Data Analyst,About the job\nSwastik Placement Agency is cur...,https://www.linkedin.com/jobs/search/?currentJ...
3,"Midtown Software · Chandigarh, India · Reposte...",Data Analyst,About the job\nThe ideal candidate will use th...,https://www.linkedin.com/jobs/search/?currentJ...
4,"Allica Bank · Bangalore Urban, Karnataka, Indi...",Senior Data Analyst,About the job\nAbout Allica Bank\nRecently nam...,https://www.linkedin.com/jobs/search/?currentJ...

In [ ]:
responses=[]
for i in job_description:
    response=model.generate_content([resume_text,job_des,input_prompt1])
    responses.append(response)

In [ ]:
df=pd.DataFrame(table)

In [ ]:
df.head()

job_qualification=driver.find_element(By.CLASS_NAME,"mv5")
ActionChains(driver).move_to_element(job_qualification).click(job_qualification).perform()
driver.find_element(By.CLASS_NAME,"job-details-skill-match-status-list").text.split("\n")

['Data Analysis',
 'Microsoft Excel',
 'Python (Programming Language)',
 'SQL',
 'Tableau',
 'Excel Automation',
 'Add',
 'Knowledge Acquisition',
 'Add',
 'Mathematics',
 'Add',
 'Reporting',
 'Add',
 'Statistics',
 'Add',
 'VBA Excel',
 'Add']

In [216]:
user_agents=[]
with open(r"E:\temp download\user_agents.txt","r") as f:
    datas=f.read().split("\n")
datas
datas[0]
for i in range(len(datas)):
    user_agents.append({'User-agent':datas[i]})

In [217]:
lenuser=len(user_agents)-1

In [ ]:
import time
descriptions=[]
for i in range(len(links)):
    header=user_agents[i%lenuser]
    proxy=valid_proxies[i%lenproxy]
    url=links[i]
    page=requests.get(url,headers=header)
    if page.status_code!=200:
    for j in range(10):
        header=user_agents[(i+j)%lenuser]
        page=requests.get(url,headers=header)
        if page.status_code==200:
            break
    print(i,page.status_code)
    job_soup=BeautifulSoup(page.text,"lxml")
    job_desc=[]
    if job_soup.find({},"description")==None:
    for j in (job_soup.find_all("p",{"class":""})):
          job_desc.append(j.text)
    else:
    for i in (job_soup.find({},"description")):
          job_desc.append(i.text)
    descriptions.append(job_desc)
    time.sleep(5)